@import "/src/styles/extend.scss";

div.layout {
    color: var(--theme-texts);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main.layout-main {
    z-index: $z-index-content;
    flex-grow: 1;
    width: 100%;
}
